body{
    margin: 20px;
    font-family: 'Montserrat';
    color: #333333;
    font-weight: 600;
}

.card{
    max-width: 385px;
    max-height: 650px;
    padding: 18px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.img-container{
    padding: 12px;
    margin-bottom: 34px;
    background: #F8F1FF;
    border-radius: 10px;
    max-width: 346px;
    max-height: 327px;
    display: flex;
    justify-content: center;
    position: relative;
}

.details{
    position: absolute;
    top: 12px;
    right: 6.5px;
    font-size: 17px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: none;
    border-radius: 50%;
}

.discount{
    position: absolute;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    width: 58px;
    height: 58px;
    background-color: #F82D46;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 12px;
    left: 12px;
}

.price{
    margin: 0 5px 17px 5px;
    color: #04C000;
    font-size: 22px;
    line-height: 27px;
}

.old-price{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #AEAEAE;
    margin-left: 15px;
    text-decoration: line-through solid red;
}

.item-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
}

.icons{
    display: flex;
    margin-bottom: 18.5px;
}

.icons p{
    font-size: 17px;
    line-height: 21px;
    color: #AEAEAE;
    margin-left: 6.5px;
}

.icons .star, .icons .comment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .star{
    margin-right: 29px;
}

.text-container button{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    padding: 14px 18px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 17px;
}

.text-container .red-btn{
    color: #FFFFFF;
    background-color: #F82D46;
    border: 0;
    font-weight: 400;
    margin-right: 34px;
}

.card-bottom{
    display: flex;
}

.card-bottom .delivery-icon{
    margin-right: 11px;
}

.card-bottom p{
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}